<html>
<head>
  <meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=1", charset="UTF-8"/>
  <link rel="stylesheet" href='/static/style.css' />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<table class="center">
<tr><td class="center bottom"><h2>OUR HOME</h1></td></tr>
<tr><td class="center"><h3>Bella's Room</h2></td></tr>
<tr><td class="center"><h1>{{ temp1 }}</h1></td></tr>
<tr><td class="center bottom"><h6>{{ time1 }}</h6></td></tr>
<tr><td class="center"><h3>Master Bedroom</h2></td></tr>
<tr><td class="center"><h1>{{ temp2 }}</h1></td></tr>
<tr><td class="center"><h6>{{ time2 }}</h6></td></tr>
</table>
</body>
</html>
